body{
    background: lightgray;
    height: 100%;
    width: 100%;
    
}



#letterArray{
    
    color: white;
    
}

#chessBoardContainer{
    
    background: white;
    
    height: 98vh;
    width: 69vw;
    
    /*
    height: 98%;
    width: 69%;
    */
    float: left;
    display: inline-block;
    
}


#chessBoard{
    
    position: relative;
    background: #291E0C;
    height: 95vh;
    width: 95vh;
    /*width:95%;
    width: 95%;*/
    margin: 0 auto;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    text-align: center;
}

#rowContainers{
    position: relative;
    top: 5%;
    left: 18%;
    
    
}

#controlPanel{
    
    background: gray;
    height: 98vh;
    width: 29vw;
    /*height: 98%;
    width:29%;*/
    display: inline-block;
    text-align: center;
    position: absolute;
    margin-left: 0.5%;
    float: right;
    
    
    
}


.label{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2em;

}





.coordinates{
    
    position: relative;
    /*border: 1px solid white;*/
    width: 80%;
    left: 10%;
    font-size: 1.5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-bottom: 4px;
    
    
}




#goButton{
    
    color: aliceblue;
    background-color: rgba(27, 107, 23,0.5);
    border-radius: 2px;
    width: 80%;
    height: auto;
    
    font-size: 2em;
    position: relative;
    border: none;
    width: auto;
    border-radius: 100px;
    padding: 50px;
    

    
    
    
}



@media screen and (-webkit-min-device-pixel-ratio:0) {

    /*Chrome CSS here*/

   
}


*:hover{
    cursor:crosshair;
}